<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pdf name</key>
		<string>Aortic Dissection</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Adult</string>
		<key>pdf name</key>
		<string>Asthma - Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Abdominal Pain not related to pregnancy or trauma</string>
		<key>type</key>
		<string>OB</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Altered Mental Status</string>
		<key>type</key>
		<string>OB</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Anaphylaxis Adult</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Blood protocol</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>CVA Stroke one</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Drowning</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Frostbite</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>General Overdose</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Adult</string>
		<key>pdf name</key>
		<string>Hyperkalemia protocol</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Acute Coronary Syndrome</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Hypertension not related to pregnancy</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Adult</string>
		<key>pdf name</key>
		<string>Hyperthermia</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Hypothermia</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>ICH</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Insulin</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Mucosal Atomizer Device</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Narcotics and Opiates</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Peds Burn</string>
		<key>type</key>
		<string>Pediatrics</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Platelets During Transport</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Rhabdomyolysis</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Sedation guideline</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Seizure  Adult</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Adult Sepsis</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Shock</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Snakebite Protocol</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Syncope</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Therapeutic Hypothermia</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Tylenol Overdose</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>type</key>
		<string>OB</string>
		<key>pdf name</key>
		<string>Vaginal Bleeding</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Air vs ground Algorhithm</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Dangerous patient</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>External Jugular Cannulation</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Death in field guideline</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Hazmat Transport</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Pediatric</string>
		<key>pdf name</key>
		<string>Pediatric RSI</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Adult</string>
		<key>pdf name</key>
		<string>Refusal of care guideline</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Escharotomy guideline</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Istat Guidelines</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Terbutaline Sulfate Protocol</string>
		<key>type</key>
		<string>OB</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pregnancy Induced Hypertension</string>
		<key>type</key>
		<string>OB</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Postpartum Hemorrhage</string>
		<key>type</key>
		<string>OB</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pediatric Sepsis, Meningitis</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pediatric Seizures</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pediatric Sedation for Intubated Patients</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pediatric Head Injury</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pediatric Fluid Maintenance</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pediatric DKA Protocol</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Peds Burn</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pediatric Asthma</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pediatric Anaphylaxis</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pediatirc Blood Loss, Shock Protocol</string>
		<key>type</key>
		<string>Pediatric</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>TXA Bleeding control in the trauma patient</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Spinal Immobilization-Interfacility</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Head Injury Protocol</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>General Trauma Management</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Facial trauma</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Eye Trauma</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Burn protocol- Adult</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Blood Transfusion Protocol</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Amputation</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Abdominal Trauma</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Adult</string>
		<key>pdf name</key>
		<string>St Charles Anticoagulation Reversal</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Adult</string>
		<key>pdf name</key>
		<string>PEEP Reccs</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Procedures</string>
		<key>pdf name</key>
		<string>Needle Cricothyroidotomy</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Procedures</string>
		<key>pdf name</key>
		<string>Multiple Patient Incident</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Procedures</string>
		<key>pdf name</key>
		<string>Femoral ABG Procedure </string>
	</dict>
	<dict>
		<key>type</key>
		<string>Procedures</string>
		<key>pdf name</key>
		<string>Open Pneumothorax Procedure</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Pelvic Fracture Stablization</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Adult</string>
		<key>pdf name</key>
		<string>Ketamine Guideline</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Adult RSI</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Procedures</string>
		<key>pdf name</key>
		<string>BIPAP</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>EZ  I_O</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Inclusion criteria for burn center transfer</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Cricothyroidotomy</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Trauma</string>
		<key>pdf name</key>
		<string>Trauma Orthopedic</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Spinal Cord Injury</string>
		<key>type</key>
		<string>Trauma</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>ABG Procedure</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Emergent Umbilical Line Insertion</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Femoral Line Cannulation</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Mechanical Ventilation procedure</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Foley Catheter Insertion</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Tension Pneumothorax</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Magnesium Sulfate</string>
		<key>type</key>
		<string>OB</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Ride along Policy revised</string>
		<key>type</key>
		<string>Procedures</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>Revised High Risk OB May 2016</string>
		<key>type</key>
		<string>OB</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>ACLS-Bradycardia</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
	<dict>
		<key>pdf name</key>
		<string>DKA adults</string>
		<key>type</key>
		<string>Adult</string>
	</dict>
</array>
</plist>
